@import url(normalize.css);
@import url(reset.css);

:root {
    --color-navy: #2A44B1;
    --color-yellow: #FAC73B;
    --color-blue: #3C779F;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #DADADA;
}

html {
    font-family: 'Poppins', sans-serif;
}
.pad-side {
    padding: 0 20%;
}
.pad-bottom {
    padding-bottom: 20%;
}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

/* common text */
h2, h3, p {
    word-break: keep-all;
    word-wrap: normal;
}
h2 {
    color: var(--color-navy);
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 10%;
}
h3 {
    color: var(--color-blue);
    font-size: 2.8em;
    text-align: center;
}
p {
    font-size: 25px;
    line-height: 160%;
    margin-bottom: 5%;
}
.bold {
    font-weight: bold;
}

/* header */
header {
    position: fixed;
    top: 0;
    z-index: 1;
}
header .pad-side {
    padding: 0 10%;
}
header section {
    width: 100vw;
    display: flex;
    align-items: center;
}
header section[class="top"] {
    background-color: var(--color-navy);
    height: 100px;
}
header section[class="menu"] {
    background-color: var(--color-gray);
    height: 50px;
    position: relative;
    justify-content: center;
}
.top {
    display: flex;
    justify-content: space-between;
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.letters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.eng_title {
    color: var(--color-white);
    font-size: 60%;
    padding-top: 3px;
}
.contact i {
    transform: scaleX(-1);
}
.contact {
    color: var(--color-white);
    display: flex;
    gap: 5px;
    font-size: 200%;
    font-weight: bold;
    white-space: nowrap;
}

#nav-bar * {
    color: var(--color-navy);
    font-weight: bold;
    padding: 14px 15px;
}

#nav-bar *:hover {
    background-color: var(--color-navy);
    color: var(--color-yellow);
    transition-duration: 0.15s;
}

/* clinic image */
div[class="picture"] {
    width: 100vw;
    height: 400px;
}

.crop {
    width: 100%;
    height: calc(auto - 100px);
}

/* welcome */
.welcome {
    background-color: var(--color-navy);
}
.welcome h2 {
    color: var(--color-yellow);
}
.welcome p {
    color: var(--color-white);
    text-align: center;
}

/* physician */
.physician-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section[class="physician"] h3 {
    padding-bottom: 40px;
}
section[class="physician"] ul li {
    line-height: 1.4em;
    padding-bottom: 10px;
    font-size: 1.3em;
}

/* map */
.map {
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map h2, .map p {
    color: var(--color-white);
}
.kakao-map {
    z-index: 0;
    padding-bottom: 20px;
}

/* hours */
.time-table {
    margin: auto;
    font-size: 1.3em;
    line-height: 3em;
}
.time-table tr td.day, td.saturday, td.holiday {
    width: 150px;
    text-align: center;
    background-color: var(--color-navy);
    border: 15px solid var(--color-white);
    color: var(--color-white);
    font-weight: bold;
}
td.saturday, td.holiday {
    background-color: var(--color-yellow);
    color: var(--color-navy);
}

/* 진료 */
.내과진료 {
    background-color: var(--color-navy);
    text-align: center;
}
.obesity, .vaccine {
    background-color: var(--color-blue);
}
.내과진료 h2 {
    color: var(--color-yellow);
}
.내과진료 p, .obesity *, .vaccine h2 {
    color: var(--color-white);
}
.divider {
    background-color: var(--color-yellow);
    width: 10vw;
    height: 2px;
    margin: 10% auto;
}
.list, p {
    font-size: 1.6em;
    line-height: 2em;  
    text-align: center;
}
.내과진료 ul li {
    color: white;
}
.obesity, .poster, .수액 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.obesity .poster {
    flex-direction: row;
}
.obesity img {
    width: 50vw;
    height: auto;
}
.poster img {
    width: 21vw;
    height: auto;
    border: 2px solid var(--color-blue);
}
.obesity .poster img {
    height: 70vh;
    width: auto;
}
.row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.smoking .row img {
    width: 19.5vw;
    height: auto;
}
img[class="room"] {
    width: 62vw;
    height: auto;
    padding-top: 5%;
}
.vaccine h3 {
    color: var(--color-yellow);
    padding-top: 10%;
    font-weight: bold;
    padding-bottom: 3%;
}
.vaccine .list {
    color: var(--color-white);
}

/* footer */
footer {
    background-color: var(--color-navy);
    width: 100vw;
    height: 25vh;
}
.footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -8vh;
}
.footer-logo img {
    height: 4vh;
}
footer .list {
    color: var(--color-white);
    line-height: 1.4em;
    font-size: 0.8em;
    position: relative;
    top: -6vh;

}